
.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}
.pokemon .detail .grass {
    background-color: #77c850; 
}
.pokemon .detail .normal {
    background-color: #a6a877;
}
.pokemon .detail .fire {
    background-color: #ee7f30; 
}
.pokemon .detail .water {
    background-color: #678fee; 
}
.pokemon .detail .electric {
    background-color: #f7cf2e; 
}
.pokemon .detail .ice {
    background-color: #98d5d7; 
}
.pokemon .detail .ground {
    background-color: #dfbf69;
}
.pokemon .detail .flying {
    background-color: #a98ff0;  
}
.pokemon .detail .poison {
    background-color: #a040a0;
}

.pokemon .detail .fighting {
    background-color: #bf3029;
}

.pokemon .detail .psychic {
    background-color: #f65687;
}

.pokemon .detail .dark {
    background-color: #725847;
}

.pokemon .detail .rock {
    background-color: #b8a137;
}

.pokemon .detail .bug {
    background-color: #a8b720;
}

.pokemon .detail .ghost {
    background-color: #6e5896;
}

.pokemon .detail .steel {
    background-color: #b9b7cf;
}

.pokemon .detail .dragon {
    background-color: #6f38f6;
}

.pokemon .detail .fairy {
    background-color: #f9aec7;
}
@media screen and (min-width:300){
    .pokemons {
        grid-template-columns: 1fr 1fr ;
    }
}
@media screen and (min-width:576px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr ;
    }
}

@media screen and (min-width:992px){
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.pokemon{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1DCAAA;
}

.pokemon .name{
    color: white;
    margin-bottom: 0;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail img {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 70px;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .675rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center; 
}



.pokemon .number{
    color: black;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: .625rem;
    color: #fff;
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
}